:root {
  --background-primary: #e4b381;
}

.navigation {
  border: none;
  padding: 10px 15px;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-color: var(--background-primary);
  color: #3c302d;
}

.homeNav {
  border: solid 1px #3c302d ;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 4px;
  text-decoration: none;
  background-color: none;
  color: #3c302d;
}
.croissantPic {
  display: block;
  margin: 40px auto;
  border-radius: 4px;
}

.description{
  padding: 20px;
}
